*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background:url(https://i.pinimg.com/736x/0c/13/17/0c131789faf76ba6e729fb169e9192f0.jpg);
    background-size: cover;
}
:root{
    --x:200px;
    --y:200px;
}
.box{
    width: 100%;
    height: 100%;
    background:radial-gradient(120px at var(--x) var(--y) ,rgba(255, 232, 232, 0.11),black);
}